@tailwind base;
@tailwind components;
@tailwind utilities;

.hoveranim:hover {
  animation: example .2s linear;
}

@keyframes example {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    to {
        transform: scale(1);
    }
}